


.custom-list li::marker {
  color: #3b82f6; /* Cambia el color aquí */
 
}

.custom-list li {
  position: relative;
  padding-left: 20px;  
}

body {
  background-color: #f5f5f5;  
}

.card {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);  
  margin: 10px auto; 
  max-width: 1000px;  
  width: 100%; 
}

.contact-banner {
  margin-bottom: 20px; 
  transition: top 0.3s; 
}

.contact-banner.sticky {
  position: fixed;  
  top: 0;
  left: 50%;
  transform: translateX(-50%); 
  z-index: 1000;  
  width: 90%; 
  max-width: 400px;  
  margin: 0; 
}

 

